@import '../../../styles/partials/mixin';
@import '../../../styles/partials/variables';

#name {
    padding: 0 0 0 0.5rem;
    margin: 0.25rem 0 1.5rem 0;
    height: 2.25rem;
    border-radius: 4px;
    border: solid 1px $mercury;
    background-color: $background-alabaster;
    @include tablet {
        width: 31rem;
    }
}

#comment-section {
    @include tablet {
        width: 37rem;
        margin: auto;
    }
}

#comment {
    padding: 0.5rem 0 0 0.5rem;
    margin: 0.5rem 0 0.5rem 0;
    min-height: 6.75rem;
    border-radius: 4px;
    border: solid 1px $mercury;
    background-color: $background-alabaster;
    resize: none;
    outline: none;

    @include tablet {
        min-height: 0;
        height: 2.5rem;
        margin: 0.5rem 1.5rem 0 0;
        padding: 0 0 0 1rem;
        flex-grow: 1;
        line-height: 2.5rem;
    }

    &:focus {
        border: 2px solid $brainflix-blue;
    }
    &:invalid {
        border: 2px solid #D22D2D;
    }
}

#comment__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.comment {

    margin: 1rem 0 0 0;
    @include tablet {
        margin: 2.25rem 0 1.5rem 0;
    }
    @include desktop {
        margin: 3rem 0 1.5rem 0;
    }

    &__count {
        font-weight: 700;
        margin: 0 0 0 1rem;
        @include tablet {
            margin: 0 0 0 1.5rem;
        }
    }

    &__container-wrap {
        display: flex;
        margin: 1rem 1rem 0 1rem;
        @include tablet {
            margin: 1.5rem 1.5rem 0 1.5rem;
        }
    }

    &__avatar-image {
        @include avatar-circle;
        margin: 1.5rem 1rem 0 0;
        object-fit: cover;
        object-position: 20% 50%;
        @include tablet {
            margin: 1.80rem 1rem 0 0;
            height: 2.5rem;
            width: 2.5rem;
        }
    }

    &__label {
        font-size: 0.8rem;
        line-height: 1.25rem;
        font-weight: 700;
        color: $silver;
    }

    &__input-button-container {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            align-items: center;
        }
    }

    &__button-container {
        position: relative;
    }
    
    &__button-icon {
        position: absolute;
        top: 1.5rem;
        left: 0.5rem;
        @include tablet {
            top: 1.05rem;
        }
    }

    &__button {
        @include label-font;
        height: 2.5rem;
        border-radius: 4px;
        margin: 1rem 0 1rem 0;
        color: $white;
        background-color: $brainflix-blue;
        border: $brainflix-blue;
        width: 100%;
        &:hover {
            background-color: $brainflix-darkblue;
            cursor: pointer;
        }
        @include tablet {
            width: 9.375rem;
            margin: 0.5rem 0 0 0;
            }
    
    }
    
    ::placeholder {
        color: black;
        opacity: 1;
        font-family: 'Avenir';
    
    }
    
}