//Primary Colors
$brainflix-black: #323232;
$brainflix-blue: #0095FF;
$silver: #AFAFAF;
$white: #FFFFFF;

//Secondary Colors
$brainflix-darkblack: #000000;
$brainflix-darkblue: #0065AD;
$mercury: #E1E1E1;
$background-alabaster: #FAFAFA;

//Font 
$default-font: "Avenir";

//Screen Sizes
$tablet: "768px";
$desktop: "1280px"

